<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Three框架</title>
    <style type="text/css">
        div#canvas-frame {
            position: relative;
            border: indianred solid 10px;
            cursor: pointer;
            width: 800px;
            height: 600px;
            background-color: #EEEEEE;
            margin:auto;
            top: 100px;
        }

    </style>
</head>
<body onload="threeStart();">
<div id="canvas-frame"></div>
</body>
</html>
<script src="javascripts/three.js"></script>
<script src="javascripts/TrackballControls.js"></script>
<script src="javascripts/stats.min.js"></script>
<script src="javascripts/index.js"></script>
